body{
  text-align: center;
  margin: 0;
  padding-top: 800px;
}

.perfil{
  border-radius: 50%;
}

#boasVindas{
  position: absolute;
  bottom: 0;
  background: linear-gradient(rgb(117, 255, 147) 0%, rgb(0, 255, 234) 100%);
  display: table;
  width: 100%;
  height: 100%;
}

h1{
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 300;
}

#nome{
  font-size: 50px;
  font-family: cursive;
}

h2{
  font-size: 30px;
  font-weight: 300;
  font-family: monospace;
}

.menu{
    position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index:10 ;
}

.links{
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover{
  font-size: 25px;
  text-decoration: underline;
}

a{
  text-decoration: none;
}

.entradaDaPagina{
  display: table-cell;
  vertical-align: middle;
}

#biografia{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 50px;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 6px auto;
}

a{
    text-decoration: none;
}

#escritos a{
    text-decoration: underline !important;
    color: green !important;
}

#contatos{
  background:rgb(205, 255, 255) ;
}
.contato h3{
  display: inline;
}